@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&display=swap');

.backgroundImage {
  background-image: url('../../Img/admin.png');
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formularioLogin {
  width: 400px;
  padding: 30px;
  background-color: var(--color-white);
  border-radius: 15px;
  margin-right: 65%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  opacity: 90%;
  font-family: var(--second-font);
  background-color: rgb(255, 255, 255);
 
}

.formularioLogin h2 {
  text-align: center;
  margin-bottom: 25px;
  color: var(--color-dark-gray);
  font-size: 30px;
  font-weight: 600;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  color: var(--color-dark-gray);
  font-weight: 700;
}

/* Validação Adicionada */
.form-control.is-invalid {
  border: 2px solid #dc3545;
}

.invalid-feedback {
  color: #dc3545;
  font-size: 0.875em;
  margin-top: 0.25rem;
}

.form-control {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--color-dark-gray);
  transition: border-color 0.3s ease;
}

.form-control:focus {
  border-color: var(--color-primary);
  outline: none;
}

.botaoEntrar {
  width: 100%;
  padding: 12px;
  background-color: var(--color-primary);
  color:rgb(255, 255, 255);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: black;
}

.botaoEntrar:hover {
  background-color: rgb(54, 54, 54);
}

@media (max-width: 880px) {
  .formularioLogin {
    width: 90%;
    padding: 20px;
  }

  .form-control,
  .botaoEntrar {
    font-size: 14px;
    padding: 10px;
  }
}