.info-perfil-medico {
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.perfil-medico-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container-perfil-medico {
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil-medico-foto-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.perfil-medico-foto {
    width: 100%;
    border-radius: 5%;
    margin-bottom: 20px;
}

.perfil-medico-info {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 80%;
}

.input-edit {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.botoes-editar {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.botao-salvar {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botao-cancelar {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botao-editar {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* Tema escuro */
.dark-mode {
    background-color: #121212;
    color: #f5f5f5;
}

.dark-mode .perfil-medico-header {
    color: #f5f5f5;
}

.dark-mode .perfil-medico-info {
    color: #f5f5f5;
}

.dark-mode .input-edit {
    background-color: #1e1e1e;
    color: #f5f5f5;
    border: 1px solid #555;
}

.dark-mode .botao-salvar,
.dark-mode .botao-cancelar,
.dark-mode .botao-editar {
    color: white;
}

.dark-mode .loading-container,
.dark-mode .error-container {
    background-color: #121212;
    color: #f5f5f5;
}