@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&display=swap');

.headerAdm {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adicione esta linha */
    background-color: #252121;
    color: white;
    padding: 20px;
    font-size: 20px;
    height: 80px;
    width: 100%;
}

.imgHeader {
    width: 250px;
    margin-top: 20px;
}


.links {
    text-decoration: none;
    font-family: var(--second-font);
    cursor: pointer;
    color: white;
    padding: 20px;
}
.links:hover {
  color: white;
  font-weight: bold;
  }

.footerLogoHeader{
    width: 250px;
}
.submit-btn{
 width: 10%;
 height: 80%;
 background:rgb(153, 17, 17);
 color: rgb(255, 255, 255);
 font-size: 20px;
 border: none;
 border-radius: 4px;
 cursor: pointer;
 justify-content: end;
}